#root {
  overflow: hidden;
}
/* Home JSx */
.dashboard-card {
  border-radius: 16px;
  padding: 20px;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
}

.dashboard-card h2 {
  color: #212529;
}

.dashboard-card p {
  font-size: 0.95rem;
}
/*  */
/* Dashboard Header */
.dashboard-header {
  border-radius: 14px;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
}

/* Statistic Cards */
.stat-card {
  border-radius: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.stat-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

/* Icon Circle */
.stat-icon {
  width: 56px;
  height: 56px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}

/* Individual Colors */
.stat-users {
  background: linear-gradient(135deg, #f8f9ff, #ffffff);
}

.stat-doctors {
  background: linear-gradient(135deg, #f3fff8, #ffffff);
}

.stat-earning {
  background: linear-gradient(135deg, #fffaf2, #ffffff);
}
