.navbar_container {
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  background-color: #fff;
  z-index: 1;
}
.topbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #008080;
  color: #fff;
  font-weight: 400;
  padding-block: 0.5rem;
}
.topbar_container h6 {
  margin: 0;
}
.navbar {
  background-color: #ffffff;
}

.nav-link {
  font-weight: 600;
  margin-left: 20px;
}

.brand-logo {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.brand-logo:hover {
  opacity: 0.9;
}
